
<div style="background-color: rgb(1, 64, 66); padding: 10px; text-align: center; margin-bottom: 5px;">
    <span style=" color: mintcream ; font-size: 25px;">
        <i class="fa fa-comments" aria-hidden="true"></i> 혜혜
    </span>
</div>